---
layout: page
---
<div class="post">
  <h2 class="category">collaborator</h2>
  <article>
    {% if page.profiles %}
    <div class="clearfix noto-sans-kr">
      {% for profile in page.profiles %}
      <div class="mb-1">
        <span>{{ profile.name }}</span>
        <span class="small text-muted"> / </span>
        <span class="small">{{ profile.role }}</span>
        {% if profile.affiliation %}
          <span class="small text-muted"> / </span>
          <span class="small">{{ profile.affiliation }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </article>
</div>
