---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <hr>
       <div class="clearfix noto-sans-kr">
        {% for profile in page.profiles %}
          <span>{{ profile.name }}</span>
          <span>{{ profile.role }}</span>
          <span>{{ profile.affiliation }}</span>
        {% endfor %}
       </div>
    {% endif %}
  </article>
</div>
